@charset "utf-8";
/* CSS Document */


body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
html, body {
  color: #505050;
  line-height: 1.75em;
  background: #ebebeb;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}
a {
  color: #f4645f;
  outline: none;
}
a:hover {
	text-decoration:none;
}
h4 {
  font-size: 1.5em;
}

.btn-default {
  border: 1px solid #f4645f;
  background-color: #f4645f;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-default:hover {
  border: 1px solid #303030;
  background: #303030;
  color: #ffffff;
}


.mian-header {
	width:100%;
    padding-top: 62px;
    padding-bottom: 62px;
    background: #f3726d url(../images/index/44e1c4e50d55159c65da6a41bc07e.jpg) center 20% no-repeat;
    text-align:center;
}
.mian-header .container .title {
	text-align:center;
    font-family: inherit;
    color:#FFFFFF;
    font-size: 50px;
    margin-top: 20px;
  	margin-bottom: 10px;
}
.mian-header .container .tags a {
	transition: all 0.8s;
}
.mian-header .container .tags a {
    font-weight:bold;
    color:#FFFFFF;
}
.mian-header .container .tags a:hover {
	background:#303030;
    color:#FFFFFF;
	border: 1px solid #303030;
}
.btn-doc {
  position: relative;
  bottom: -40px;
  border: 1px solid #f1362f;
  background-color: transparent;
}
@media only screen and (max-width: 767px){
    .btn-doc {
      display: block;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
    }
}


.main-navigation {
  text-align: center;
  background: #ffffff;
  border-top: 1px solid #ebebeb;
  margin-bottom: 35px;
  border-bottom: 2px solid #e1e1e1;
}
.main-navigation .menu li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.main-navigation .menu li.nav-current {
  border-bottom: 2px solid #f4645f;
  margin-bottom: -2px;
}
.main-navigation .menu li a {
  color: #505050;
  line-height: 4em;
  display: block;
  padding: 0 21px;
}
.main-navigation .menu li a:hover {
    text-decoration:none;
    color:#f4645f;
}

/*section*/
.post {
  padding: 35px;
  background: #ffffff;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
}
.post .post-head {
  text-align: center;
}

.post .post-head .post-title {
  margin: 0;
  font-size: 2.0em;
  line-height: 1.2em;
}
.post .post-head .post-title a {
  color: #303030;
}
.post .post-head .post-meta {
  color: #959595;
  margin: 14px 0 0px;
}
.post .post-head .post-meta span {
  margin: 0px 7px;
  white-space: nowrap;
}
.post .post-content {
  margin: 30px 0;
}
.post-content {
  font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  color: #444443;
}
.post-content p {
  margin-top: 0;
  margin-bottom: 1.46em;
}
.post .post-footer {
  margin-top: 30px;
  border-top: 1px solid #ebebeb;
  padding: 21px 0 0;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.post .post-footer .tag-list a {
  color: #959595;
  margin-left: 7px;
}

.sidebar .widget {
  background: #ffffff;
  padding: 21px 30px;
}
.widget {
  margin-bottom: 35px;
}
.widget .title {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 21px;
  position: relative;
}
.widget .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #f4645f;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.widget .tag-cloud a {
  border: 1px solid #ebebeb;
  padding: 2px 7px;
  color: #959595;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 7px 7px 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.widget .tag-cloud a:hover {
  color: #ffffff;
  background: #f4645f;
  border: 1px solid #f4645f;
  text-decoration: none;
}

/*footer*/
.main-footer {
  background: #202020;
  padding: 35px 0 0;
  color: #959595;
}
.main-footer .widget {
  padding: 0px 30px;
}
.main-footer .widget .title {
  color: #ffffff;
  border-bottom: 1px solid #303030;
}
.main-footer .widget .recent-post .recent-single-post {
  border-bottom: 1px dashed #303030;
}
.main-footer .widget .recent-post .recent-single-post .post-title {
  color: #959595;
}
.main-footer .widget .recent-post .recent-single-post .post-title:hover {
  color: #f4645f;
}
.main-footer .widget .recent-post .recent-single-post .date {
  color: #505050;
}
.main-footer .widget .tag-cloud a {
  border: 1px solid #303030;
}
.main-footer .widget .friend-links a {
  border: none;
}
.main-footer .widget .friend-links hr {
  margin: 1em 0;
  border-top: 1px dashed #303030;
}

/*copyright*/
.copyright {
  background: #111;
  font-size: 13px;
  text-align: center;
  color: #555555;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #303030;
}
.copyright span {
  margin: 0 .5em;
}
.copyright a {
  color: #555555;
}
.copyright a:hover {
    text-decoration: underline;
}


















